.nav-logo {
    display: block;
    margin-top: -19px;
    
   
}

.navbar {
    background-color: rgb(228, 186, 186);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    align-items: center;
 
}

.crm-desc {
    margin-top: -79px;
    margin-left: 120px;
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    
}

.nav-icons {
   margin-left:120px
}


.button {
    margin-top: 20px;
}

.search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.counter {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;
  }

  .icon {
    font-size: 20px;
  }


  .item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
  }

  .items {
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: 930px;

}

.search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;

    input {
      border: none;
      outline: none;
      background: transparent;

      &::placeholder {
        font-size: 12px;
      }
    }
  }
  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }